<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/css/dialog.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat"
    />
  </head>
  <body>
    <div class="container">
      <section class="conversations">
        <div class="conversations-header">
          <button class="collapse-btn">&#9776;</button>
        </div>
        <div class="conversations-body">
          <% conversations.forEach(conversation => { %>
          <div
            class="conversation <%= conversation.active ? 'conversation-active' : '' %>"
          >
            <div
              class="conversation-image"
              style="background-image: url(<%= conversation.image %>)"
            ></div>
            <div class="conversation-summary">
              <p class="name"><%= conversation.name %></p>
              <p class="link"><%= conversation.link %></p>
            </div>
            <div
              class="conversation-expansion-image"
              style="background-image: url(<%= conversation.expansionImage %>)"
            ></div>
          </div>
          <% }) %>
        </div>
      </section>
      <section class="conversation-messages">
        <div class="conversation-messages-header">
          <i class="icon fa fa-comments-o" aria-hidden="true"></i>
          <p class="name"><%= currentConversation.name %></p>
        </div>
        <div class="conversation-messages-list">
          <% currentConversation.messages.forEach(message => { %>
          <div class="message <%= message.type %>">
            <p>
              <span
                ><%= message.sender %> <%= message.type === 'text-say' ? 'says:'
                : 'yells:' %></span
              >
              <%= message.text %>
            </p>
          </div>
          <% }) %>
        </div>
      </section>
    </div>
    <script>
      const collapseBtn = document.querySelector(".collapse-btn");
      const conversations = document.querySelectorAll(".conversation");
      const conversationsNode = document.querySelector(".conversations");
      conversations.forEach((conversation) => {
        conversation.addEventListener("click", () => {
          conversations.forEach((c) =>
            c.classList.remove("conversation-active")
          );
          conversation.classList.add("conversation-active");

          // Update the currentConversation
          //   const clickedConversation = <%= conversations %>
          //     .find(c => c.name === conversation.querySelector(".name").textContent);
          //   <%= currentConversation %> = clickedConversation;
        });
      });
      collapseBtn.addEventListener("click", () => {
        conversationsNode.classList.toggle("collapsed");
        conversations.forEach((conversation) => {
          console.log(conversation.classList.toggle("collapsed"));
        });
      });
    </script>
  </body>
</html>
